<%= content_for :head do %>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<% end %>

<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @game.new_record? %>
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :link, style: "display: block" %>
      <%= form.text_field :link %>
    </div>

    <div>
      <%= form.file_field :image%>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% else %> <%# For when the game has already been created. Lets the user upload screenshots and the banner for the game page along with updating existing info.%>
    <p> Edit <%= @game.name %> </p>
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.textarea :description %>
    </div>

    <div>
      <%# <%= form.label :link, style: "display: block" %>
      <p>Link to game<br> <%= form.text_field :link %> </p>
    </div>

    <div>
      <p>
        Tags<br> 
        <%= form.text_field :tags, 
        data: { controller: "tag" } %> 
      </p>
    </div>

    <div>
      <%= form.label :image %>
      <%= form.file_field :image%>
      <% if @game.image.attached? %>
        <p>Current thumbnail: <%= @game.image.filename %> <br> <%= image_tag @game.image, width: 150 %> </p>
      <% end %>
    </div>

    <div>
      <%= form.label :banner %>
      <%= form.file_field :banner%>
      <% if @game.banner.attached? %>
        <p>Current banner: <%= @game.banner.filename %> <br> <%= image_tag @game.banner, width: 150 %> </p>
      <% end %>
    </div>

    <div class="games-grid">
      <div>
        <%= form.label :screenshot_1 %>
        <%= form.file_field :screenshot_1%>
        <% if @game.screenshot_1.attached? %>
          <p>Screenshot 1: <%= @game.screenshot_1.filename %> <br> <%= image_tag @game.screenshot_1, width: 150 %> </p>
        <% end %>
      </div>

      <div>
        <%= form.label :screenshot_2 %>
        <%= form.file_field :screenshot_2%>
        <% if @game.screenshot_2.attached? %>
          <p>Screenshot 2: <%= @game.screenshot_2.filename %> <br> <%= image_tag @game.screenshot_2, width: 150 %> </p>
        <% end %>
      </div>

      <div>
        <%= form.label :screenshot_3 %>
        <%= form.file_field :screenshot_3%>
        <% if @game.screenshot_3.attached? %>
          <p>Screenshot 3: <%= @game.screenshot_3.filename %> <br> <%= image_tag @game.screenshot_3, width: 150 %> </p>
        <% end %>
      </div>
    </div>



    <div>
      <%= form.submit %>
    </div>
  <% end %>


<% end %>
